<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Events</display-name>

	<!-- Spring -->
	<listener> <!-- Required for the struts2 spring plugin to work -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter> <!-- Get spring to keep the session open for the whole request, so hibernate's lazy loads work -->
	  <filter-name>openSessionInViewFilter</filter-name>
	  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>openSessionInViewFilter</filter-name>
	  <url-pattern>/*</url-pattern> 
	</filter-mapping>

	<!--  Sitemesh (needs to be before struts) -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--  Struts2 config (needs to be after sitemesh) -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
